# Ingenier√≠a de Datos con Python

## Series

In [2]:
import pandas as pd
series_test = pd.Series([100, 200, 300])
series_test

0    100
1    200
2    300
dtype: int64

In [3]:
series_test2 = pd.Series({1999: 48, 
                          2000: 65, 
                          2001: 89})

series_test2

1999    48
2000    65
2001    89
dtype: int64

## DataFrames

In [4]:
frame_test = pd.DataFrame({1999: [74, 38, 39],
                           2000: [34, 32, 32],
                           2001: [23, 39, 23]})

frame_test

   1999  2000  2001
0    74    34    23
1    38    32    39
2    39    32    23

In [8]:
frame_test2 = pd.DataFrame([[74, 38, 39],
                           [34, 32, 32],
                           [23, 39, 23]], index=[1999, 2000, 2001])

frame_test2

       0   1   2
1999  74  38  39
2000  34  32  32
2001  23  39  23

## Read data

## Index and selection

## Data wrangling

## Missing data

## Duplicate values

## Final table

## Combining datasets

## Descriptive analysis